{% extends 'core/base.html' %}

{% block title %}
    gym classes
{% endblock %}

{% block main %}
    <h2 class="mt-4">کلاس‌های ورزشی</h2>

    <table class="table table-bordered table-striped mt-3">
        <thead>
            <tr>
                <th>نام کلاس</th>
                <th>مربی</th>
                <th>ظرفیت</th>
                <th>برنامه زمانی</th>
            </tr>
        </thead>
        <tbody>
            {% for c in classes %}
                <tr>
                    <td>{{ c.get_class_name_display }}</td>
                    <td>{{ c.trainer.first_name }} {{ c.trainer.last_name }}</td>
                    <td>{{ c.capacity }}</td>
                    <td>{{ c.schedule }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}