{% extends 'core/base.html' %}

{% block title %}
    trainers
{% endblock %}

{% block main %}
    <h2 class="mt-4">لیست مربیان</h2>

    <ul class="list-group mt-3">
        {% for t in trainer %}
            <li class="list-group-item">
                <a href="{% url 'trainer_detail' trainer_id=t.id %}">
                    {{ t.first_name }} {{ t.last_name }} — {{ t.get_specialization_display }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'trainer_form' %}" class="btn btn-success mt-3">ایجاد مربی جدید</a>
{% endblock %}